// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//@import "bootstrap";

 .job-result-container {
   width: 95%;

   .job-card {
     display: flex;
     align-items: stretch;
   }
 }

